@import "../../utils/variables.scss";

.raceCard {
  position: relative;
  min-width: 250px;
  height: fit-content;
  max-height: 460px;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(90deg, #b6b6b6, #cacaca, #b6b6b6);
  background-size: 200% 200%;
  animation: gradient 2s linear infinite;
}
.sport {
  font-family: "Rubik", sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 10;
  background-color: #a8a8a8;
}

.eventThumb {
  width: 17rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: rgb(218, 218, 218);
  animation: colorChange 1s linear infinite;
}
.date {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  width: 45%;
  height: 1.75rem;
  animation: colorChange 1s linear infinite;
}
.title {
  margin: 0.75rem auto;
  height: 3.2rem;
  width: 100%;
  border-radius: 0.5rem;
  animation: colorChange 1s linear infinite;
}

.distance {
  margin: 1rem auto;
  border-radius: 0.5rem;
  height: 1.75rem;
  width: 100%;
  animation: colorChange 1s linear infinite;
}

.moreInfo {
  display: flex;
  text-emphasis-position: bottom;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.local {
  height: 2rem;
  width: 60%;
  border-radius: 0.5rem;
  animation: colorChange 1s linear infinite;
}

.priceTag {
  width: 30%;
  height: 2rem;
  border-radius: 0.5rem;
  animation: colorChange 1s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

@keyframes colorChange {
  0% {
    background-color: #a7a7a7;
  }
  50% {
    background-color: #999999;
  }
  100% {
    background-color: #a7a7a7;
  }
}
