@import "../../utils/variables.scss";

.container {
  max-width: $desktop-max;
  margin: auto;
}
.banner {
  margin: 1rem auto;
  width: 100%;
  height: 30rem;
  border-radius: $border_1;
  object-fit: cover;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
}
