.container{
	align-items: center;
	text-align: center;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.loginBtn{
	border: none;
	background: transparent;
	border-radius: .625rem;
	padding: .5rem 1.5rem;
	background-color: #FFF;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17), 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
	cursor: pointer;
}
.loginBtn:hover{
	transition: 300ms;
	color: #FFF;
	background-color: #4285F4;
}

.imgContainer {
	padding: 2rem 0;
}
.img{
	margin: 2rem auto;
	display: flex;
	width: 80%;
	max-height: 360px;
	border-radius: 1.5rem;
	margin: auto;
	object-fit:cover;
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .25)); 
}
nav{
	width: 3rem;
	display: flex;
	gap: .5rem;
	justify-content: center;
	align-items: center;
}
.registerBtn{
	width: fit-content;
	height: fit-content;
	line-height: normal;
	padding: .5rem 1.2rem;
	border: none;
	border-radius: .3rem;
	background-color: #192126;
	color: #BBF246;
	font-weight: 700;
	font-size: .8rem;
}
.registerBtn:hover{
	transition:  200ms;
	background-color: #23323b;
}

button{
	border: none;
	width: fit-content;
	background:transparent;

}

@media screen and (max-width: 600px) {
	.welcome{
		display: none;
	}
	nav{
		width: 200px;
		justify-content: right;
	}
	.registerBtn{
		width: 100%;
	}
}