@import "../../utils/variables.scss";

.header {
  width: 80vw;
  max-width: 1440px;
  height: 5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-family: "Anton";
  font-size: 2.5rem;
  color: $Highlight_2;
}

@media screen and (max-width: 440px) {
  .logo {
    font-size: 1.5rem;
  }
}
