@import "../../utils/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 1rem;
  padding-left: clamp(1rem, 8vw, 15rem);
  padding-right: clamp(1rem, 8vw, 15rem);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $DarkGreen;
  z-index: 10;
  @media (max-width: $mobile) {
    padding: 1.5rem 1rem;
  }
}
.logo img {
  height: 3rem;
  z-index: 2;
}
.search {
  border: none;
  height: 2.5rem;
  max-width: 20rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  display: none;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  &__btn {
    border-radius: 10rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-weight: 600;
    line-height: 0.1rem;
    text-decoration: none;
    transition: 300ms;
    color: $LightGreen;
    background-color: rgba($LightGreen, 0.2);
    &:hover {
      color: $DarkGreen;
      background-color: $LightGreen;
    }
  }
  &__item {
    color: $White_2;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    height: 2rem;
    top: 0.3rem;
    &:hover::after {
      width: 100%;
      left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      bottom: 3px;
      left: 50%;
      width: 0%;
      height: 2px;
      background-color: $LightGreen;
      transition-timing-function: ease-in;
      transition: 300ms;
    }
  }
  &__links {
    display: flex;
    gap: 1rem;
    list-style: none;
    height: 2rem;
    @media (max-width: $mobile) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      background-color: $DarkGreen;
      backdrop-filter: blur(15px);
      transition: 500ms;
      z-index: -1;

      &--closed {
        clip-path: circle(0 at top right);
      }

      &--open {
        visibility: visible;
        clip-path: circle(120% at top right);
      }
    }
  }

  @mixin btn($size, $type) {
    height: $size;
    width: $size;

    @if $type == "open" {
      animation: closeMenu 300ms ease;
    } @else {
      animation: openMenu 300ms ease;
    }
  }

  .menuButton {
    height: 3rem;
    border: none;
    background: none;
    display: none;
    z-index: 100;
    color: $LightGreen;
    &__open {
      @include btn(100%, "open");
    }
    &__close {
      @include btn(100%, "close");
    }
    @media (max-width: $mobile) {
      display: block;
    }
  }

  @keyframes openMenu {
    from {
      scale: 0.5;
      rotate: 0deg;
      opacity: 0;
    }
    to {
      scale: 1;
      rotate: 180deg;
      opacity: 1;
    }
  }

  @keyframes closeMenu {
    from {
      scale: 0;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
