//COLORS
$Black: #262e31;
$Black_2: #41484e;
$White: #e7eaf0;
$White_2: #f3f3f3;
$Highlight_1: #b5e84c;
$Highlight_2: #4946b4;

$Red: #f0635a;
$Green: #29d697;

//NEW COLORS
$Dark: #262e31;
$DarkGreen: #07272d;
$LightGreen: #96fc58;

$HeaderHeight: 5rem;

//BREAKPOINTS
$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;
$desktop-max: 1440px;
