@import "../../utils/variables.scss";

footer {
  position: relative;
  background-color: $DarkGreen;
  color: $White;
  height: 2.5rem;
  width: 100%;
  max-width: $desktop-max;
  font-size: 0.8rem;
  margin: auto;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  & a {
    color: $White;
  }
}
