@import "../../utils/variables.scss";

.container {
  max-width: $desktop-max;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  padding-left: clamp(1rem, 5vw, 2.5rem);
  padding-right: clamp(1rem, 5vw, 2.5rem);
  margin-top: $HeaderHeight;
  color: $DarkGreen;
  text-align: center;
}
.banner {
  height: 260px;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  margin: auto;
}
.eventName {
  margin: 1rem auto;
}
.nav {
  display: flex;
  width: 100%;
  border-radius: 2rem;
  justify-content: space-between;
  background-color: $White_2;
  margin: 1rem auto;
  overflow-x: scroll;

  &_anchor {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    line-height: 100%;
    border-radius: 2rem;
    cursor: pointer;
    pointer-events: visible;
    transition: 300ms;
    &:hover {
      background-color: rgb(225, 225, 225);
    }
  }
}
.button {
  z-index: 10;
  right: 5vw;
  bottom: 5vh;
  color: $DarkGreen;
  font-weight: 600;
  text-decoration: none;
  background-color: $LightGreen;
  padding: 1.5rem;
  border-radius: 1.3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  &_icon {
    font-size: 1.5rem;
  }
  filter: drop-shadow(0 0.3rem 5px rgba($DarkGreen, 0.3));
}

.section {
  background-color: $White_2;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem auto;
  text-align: left;
  &_title {
    text-align: center;
    margin: 1rem auto;
  }
}
.orgCard {
  background-color: rgba($LightGreen, 0.2);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 800;
  &_head {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  &_logo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: $DarkGreen;
    object-fit: cover;
  }
  &_name {
    text-transform: none;
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
  &_link {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    text-transform: none;
    align-items: center;
    color: $DarkGreen;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
.tag_active {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  width: fit-content;
  background-color: rgba($LightGreen, 0.8);
}

.tag_inactive {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  width: fit-content;
  background-color: rgba($Red, 0.5);
}
a > .userCardMini {
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  background-color: rgba($LightGreen, 0.2);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  & img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }
}

.particpantes > a {
  text-decoration: none;
  color: $DarkGreen;
  font-weight: 600;
}
